img/flags/xnamespace.svg
img/flags/shared.svg
img/flags/radioactive.svg
img/close.svg
img/separator.svg
img/menu/search.svg
img/menu/universe.svg
img/menu/logout.svg
img/menu/markers.svg
img/menu/rules.svg
img/menu/dashboard.svg
img/menu/support.svg
img/menu/team.svg
img/menu/close.svg
img/menu/browser.svg
img/menu/open.svg
img/menu/profile.svg
img/menu/clusters.svg
img/entities/cont.svg
img/entities/raw.svg
img/entities/netpol.svg
img/entities/vol.svg
img/entities/crlbndg.svg
img/entities/service.svg
img/entities/replicaset.svg
img/entities/rlbndg.svg
img/entities/crl.svg
img/entities/launcher.svg
img/entities/app.svg
img/entities/volume.svg
img/entities/infra.svg
img/entities/psp.svg
img/entities/port.svg
img/entities/ns.svg
img/entities/svcaccnt.svg
img/entities/image.svg
img/entities/ingress.svg
img/entities/nodes.svg
img/entities/secret.svg
img/entities/pv.svg
img/entities/storage.svg
img/entities/pod.svg
img/entities/initcont.svg
img/entities/pvc.svg
img/entities/hpa.svg
img/entities/rl.svg
img/entities/node.svg
img/entities/storclass.svg
img/entities/netpols.svg
img/entities/configmaps.svg
img/entities/configmap.svg
img/info.svg
img/separator.svg
img/check/true.svg
img/check/false.svg
img/popup.svg
img/entities/cont.svg
img/entities/raw.svg
img/entities/netpol.svg
img/entities/vol.svg
img/entities/crlbndg.svg
img/entities/service.svg
img/entities/replicaset.svg
img/entities/rlbndg.svg
img/entities/crl.svg
img/entities/launcher.svg
img/entities/app.svg
img/entities/volume.svg
img/entities/infra.svg
img/entities/psp.svg
img/entities/port.svg
img/entities/ns.svg
img/entities/svcaccnt.svg
img/entities/image.svg
img/entities/ingress.svg
img/entities/nodes.svg
img/entities/secret.svg
img/entities/pv.svg
img/entities/storage.svg
img/entities/pod.svg
img/entities/initcont.svg
img/entities/pvc.svg
img/entities/hpa.svg
img/entities/rl.svg
img/entities/node.svg
img/entities/storclass.svg
img/entities/netpols.svg
img/entities/configmaps.svg
img/entities/configmap.svg
img/summary/clusterRAM.svg
img/summary/volumes.svg
img/summary/nodes.svg
img/summary/pods.svg
img/summary/clusterCPU.svg
img/summary/applications.svg
img/summary/clusterStorage.svg
img/summary/namespaces.svg
img/summary/clusters.svg
img/expand.svg
img/collapse.svg
img/alerts/info.svg
img/alerts/warn.svg
img/alerts/error.svg
img/separator.svg
img/entities/cont.svg
img/entities/raw.svg
img/entities/netpol.svg
img/entities/vol.svg
img/entities/crlbndg.svg
img/entities/service.svg
img/entities/replicaset.svg
img/entities/rlbndg.svg
img/entities/crl.svg
img/entities/launcher.svg
img/entities/app.svg
img/entities/volume.svg
img/entities/infra.svg
img/entities/psp.svg
img/entities/port.svg
img/entities/ns.svg
img/entities/svcaccnt.svg
img/entities/image.svg
img/entities/ingress.svg
img/entities/nodes.svg
img/entities/secret.svg
img/entities/pv.svg
img/entities/storage.svg
img/entities/pod.svg
img/entities/initcont.svg
img/entities/pvc.svg
img/entities/hpa.svg
img/entities/rl.svg
img/entities/node.svg
img/entities/storclass.svg
img/entities/netpols.svg
img/entities/configmaps.svg
img/entities/configmap.svg
img/busy.svg
img/time-machine/warn.svg
img/timeline/reset.svg
img/timeline/clock-active.svg
img/timeline/plus.svg
img/timeline/right.svg
img/timeline/clock.svg
img/timeline/view.svg
img/timeline/history.svg
img/timeline/left.svg
img/timeline/minus.svg
