.header {
    height: 60px;
    width: 100%;
    background: #35373e;
    display: flex;
    align-items: center;

    .loading-icon {
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .history-info {
        text-align: center;
        margin-left: 30%;
        display: flex;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: white;
        position: absolute;
        top: 15px;

        span {
            display: inline-block;

            &:before {
                content: "";
                float: left;
                width: 24px;
                height: 24px;
                background: url("/assets/header-btns/time-machine.svg") left top;
                margin: -3px 10px 0 0;
            }
        }

        .deactivate {
            margin: 0 10px;
            height: 30px;
            font-size: 12px;
            font-weight: 700;
        }
    }

    .actions {
        position: absolute;
        top: 18px;
        right: 18px;
        display: flex;
        align-items: center;

        .btn-container {
            display: flex;
            justify-content: center;

            &:last-child {
                justify-content: flex-end;
            }
        }
    }

    .settings-menu {
        width: 250px;
        padding: 18px 1px 1px;
        position: absolute;
        top: 24px;
        right: 0;
        z-index: 100;
        background: #35373e;
        text-align: left;

        .s-menu-item {
            display: block;
            padding: 6px 15px;
            color: white;

            &:hover {
                background: #1e1e1e;
            }
        }
    }
}
